{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.description }}</p>
	<p>{{ article.category }}</p>
	<img src = '{{app.request.basepath}}/img/{{article.image}}'/>
	<p class="label label-primary"><br/> {{article.price}}€ </p>
	
    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.author.username }}</strong> said :  {{ comment.content }}<br>
		Grade : {{ comment.grade }}<br>
    {% else %}
        No comments yet.
    {% endfor %}
	
	<h3>Add a comment</h3>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Soon!
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
</p>
{% endblock %}