{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for article in articles %}
    <div class="col-md-4 gallery">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><a class="articleTitle" href="/article/{{ article.id }}">{{ article.title }}</a></h2>
        </div>
        <div class="panel-body">
          <p>{{ article.description }}</p>
      	  <p><strong><a href="/category/{{ article.category }}">{{ article.category }}</a></strong></p>
          <a href="/article/{{ article.id }}><img class="img-thumbnail thumbnail" src="{{app.request.basepath}}/img/{{article.image}}"/></a>
      	  <p class="label label-primary"> {{article.price}}€ </p>
        </div>
      </div>
    </div>
    {% else %}
    <article>
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <h2>Désolé, il n'y a pas encore de films dans cette catégorie !</h2>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</div>
{% endblock %}
